In [ ]:
!pip install census
!pip install us

In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine
from census import Census

import numpy as np

import requests

In [2]:
# Census & gmaps API Keys
from config import (api_key, gkey)
c = Census(api_key, year=2013)

In [3]:
# File Path
covid_data_file = "FlaskApp/resource/COVID-19_Cases__Tests__and_Deaths_by_ZIP_Code.csv"

# Read CSV
covid_data = pd.read_csv(covid_data_file, thousands=',')

# Show Data
covid_data

,ZIP Code,Week Number,Week Start,Week End,Cases - Weekly,Cases - Cumulative,Case Rate - Weekly,Case Rate - Cumulative,Tests - Weekly,Tests - Cumulative,...,Test Rate - Cumulative,Percent Tested Positive - Weekly,Percent Tested Positive - Cumulative,Deaths - Weekly,Deaths - Cumulative,Death Rate - Weekly,Death Rate - Cumulative,Population,Row ID,ZIP Code Location
0,60606,17,4/19/2020,4/25/2020,2.0,17.0,64.0,548.2,35,134,...,4321.2,0.1,0.1,0,0,0.0,0.0,3101,60606-17,POINT (-87.63676 41.882634)
1,60606,18,4/26/2020,5/2/2020,2.0,19.0,64.0,612.7,34,168,...,5417.6,0.1,0.1,0,0,0.0,0.0,3101,60606-18,POINT (-87.63676 41.882634)
2,60606,19,5/3/2020,5/9/2020,2.0,21.0,64.0,677.2,42,210,...,6772.0,0.0,0.1,0,0,0.0,0.0,3101,60606-19,POINT (-87.63676 41.882634)
3,60606,20,5/10/2020,5/16/2020,1.0,22.0,32.0,709.4,79,289,...,9319.6,0.0,0.1,0,0,0.0,0.0,3101,60606-20,POINT (-87.63676 41.882634)
4,60606,21,5/17/2020,5/23/2020,0.0,22.0,0.0,709.4,71,360,...,11609.2,0.0,0.1,0,0,0.0,0.0,3101,60606-21,POINT (-87.63676 41.882634)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1057,60827,27,6/28/2020,7/4/2020,0.0,63.0,0.0,220.5,30,423,...,1480.2,0.0,0.1,0,5,0.0,17.5,28577,60827-27,POINT (-87.633087 41.650765)
1058,60639,10,3/1/2020,3/7/2020,NaN,NaN,NaN,NaN,1,1,...,1.1,NaN,NaN,0,0,0.0,0.0,90517,60639-10,POINT (-87.75531 41.920609)
1059,60632,10,3/1/2020,3/7/2020,NaN,NaN,NaN,NaN,1,1,...,1.1,NaN,NaN,0,0,0.0,0.0,91039,60632-10,POINT (-87.711251 41.810038)
1060,60646,14,3/29/2020,4/4/2020,16.0,42.0,57.0,150.1,122,278,...,993.3,0.1,0.2,0,2,0.0,7.1,27987,60646-14,POINT (-87.761826 41.993931)
1061,60660,12,3/15/2020,3/21/2020,12.0,16.0,28.0,37.0,52,63,...,145.7,0.2,0.3,0,0,0.0,0.0,43242,60660-12,POINT (-87.666362 41.991062)

In [4]:
covid_data.index.name ='ID'
covid_data

,ZIP Code,Week Number,Week Start,Week End,Cases - Weekly,Cases - Cumulative,Case Rate - Weekly,Case Rate - Cumulative,Tests - Weekly,Tests - Cumulative,...,Test Rate - Cumulative,Percent Tested Positive - Weekly,Percent Tested Positive - Cumulative,Deaths - Weekly,Deaths - Cumulative,Death Rate - Weekly,Death Rate - Cumulative,Population,Row ID,ZIP Code Location
ID,,,,,,,,,,,,,,,,,,,,,
0,60606,17,4/19/2020,4/25/2020,2.0,17.0,64.0,548.2,35,134,...,4321.2,0.1,0.1,0,0,0.0,0.0,3101,60606-17,POINT (-87.63676 41.882634)
1,60606,18,4/26/2020,5/2/2020,2.0,19.0,64.0,612.7,34,168,...,5417.6,0.1,0.1,0,0,0.0,0.0,3101,60606-18,POINT (-87.63676 41.882634)
2,60606,19,5/3/2020,5/9/2020,2.0,21.0,64.0,677.2,42,210,...,6772.0,0.0,0.1,0,0,0.0,0.0,3101,60606-19,POINT (-87.63676 41.882634)
3,60606,20,5/10/2020,5/16/2020,1.0,22.0,32.0,709.4,79,289,...,9319.6,0.0,0.1,0,0,0.0,0.0,3101,60606-20,POINT (-87.63676 41.882634)
4,60606,21,5/17/2020,5/23/2020,0.0,22.0,0.0,709.4,71,360,...,11609.2,0.0,0.1,0,0,0.0,0.0,3101,60606-21,POINT (-87.63676 41.882634)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1057,60827,27,6/28/2020,7/4/2020,0.0,63.0,0.0,220.5,30,423,...,1480.2,0.0,0.1,0,5,0.0,17.5,28577,60827-27,POINT (-87.633087 41.650765)
1058,60639,10,3/1/2020,3/7/2020,NaN,NaN,NaN,NaN,1,1,...,1.1,NaN,NaN,0,0,0.0,0.0,90517,60639-10,POINT (-87.75531 41.920609)
1059,60632,10,3/1/2020,3/7/2020,NaN,NaN,NaN,NaN,1,1,...,1.1,NaN,NaN,0,0,0.0,0.0,91039,60632-10,POINT (-87.711251 41.810038)
1060,60646,14,3/29/2020,4/4/2020,16.0,42.0,57.0,150.1,122,278,...,993.3,0.1,0.2,0,2,0.0,7.1,27987,60646-14,POINT (-87.761826 41.993931)
1061,60660,12,3/15/2020,3/21/2020,12.0,16.0,28.0,37.0,52,63,...,145.7,0.2,0.3,0,0,0.0,0.0,43242,60660-12,POINT (-87.666362 41.991062)

In [5]:
covid_data = covid_data.sort_values(by=['ZIP Code', 'Week Number'])
covid_data.head()

,ZIP Code,Week Number,Week Start,Week End,Cases - Weekly,Cases - Cumulative,Case Rate - Weekly,Case Rate - Cumulative,Tests - Weekly,Tests - Cumulative,...,Test Rate - Cumulative,Percent Tested Positive - Weekly,Percent Tested Positive - Cumulative,Deaths - Weekly,Deaths - Cumulative,Death Rate - Weekly,Death Rate - Cumulative,Population,Row ID,ZIP Code Location
ID,,,,,,,,,,,,,,,,,,,,,
841,60601,10,3/1/2020,3/7/2020,NaN,NaN,NaN,NaN,1,1,...,6.8,NaN,NaN,0,0,0.0,0.0,14675,60601-10,POINT (-87.622844 41.886262)
662,60601,11,3/8/2020,3/14/2020,NaN,NaN,NaN,NaN,7,8,...,54.5,NaN,NaN,0,0,0.0,0.0,14675,60601-11,POINT (-87.622844 41.886262)
825,60601,12,3/15/2020,3/21/2020,10.0,14.0,68.0,95.4,33,41,...,279.4,0.3,0.3,0,0,0.0,0.0,14675,60601-12,POINT (-87.622844 41.886262)
964,60601,13,3/22/2020,3/28/2020,9.0,23.0,61.0,156.7,39,80,...,545.1,0.2,0.3,0,0,0.0,0.0,14675,60601-13,POINT (-87.622844 41.886262)
428,60601,14,3/29/2020,4/4/2020,5.0,28.0,34.0,190.8,22,102,...,695.1,0.2,0.3,0,0,0.0,0.0,14675,60601-14,POINT (-87.622844 41.886262)

In [6]:
covid_data=covid_data.drop(["Case Rate - Weekly", "Test Rate - Weekly", "Test Rate - Cumulative","Death Rate - Weekly","Death Rate - Cumulative"], axis=1)
covid_data

,ZIP Code,Week Number,Week Start,Week End,Cases - Weekly,Cases - Cumulative,Case Rate - Cumulative,Tests - Weekly,Tests - Cumulative,Percent Tested Positive - Weekly,Percent Tested Positive - Cumulative,Deaths - Weekly,Deaths - Cumulative,Population,Row ID,ZIP Code Location
ID,,,,,,,,,,,,,,,,
841,60601,10,3/1/2020,3/7/2020,NaN,NaN,NaN,1,1,NaN,NaN,0,0,14675,60601-10,POINT (-87.622844 41.886262)
662,60601,11,3/8/2020,3/14/2020,NaN,NaN,NaN,7,8,NaN,NaN,0,0,14675,60601-11,POINT (-87.622844 41.886262)
825,60601,12,3/15/2020,3/21/2020,10.0,14.0,95.4,33,41,0.3,0.3,0,0,14675,60601-12,POINT (-87.622844 41.886262)
964,60601,13,3/22/2020,3/28/2020,9.0,23.0,156.7,39,80,0.2,0.3,0,0,14675,60601-13,POINT (-87.622844 41.886262)
428,60601,14,3/29/2020,4/4/2020,5.0,28.0,190.8,22,102,0.2,0.3,0,0,14675,60601-14,POINT (-87.622844 41.886262)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1038,60827,23,5/31/2020,6/6/2020,2.0,60.0,210.0,18,306,0.1,0.2,0,5,28577,60827-23,POINT (-87.633087 41.650765)
1039,60827,24,6/7/2020,6/13/2020,1.0,61.0,213.5,26,332,0.0,0.2,0,5,28577,60827-24,POINT (-87.633087 41.650765)
1040,60827,25,6/14/2020,6/20/2020,0.0,61.0,213.5,30,362,0.0,0.2,0,5,28577,60827-25,POINT (-87.633087 41.650765)
1043,60827,26,6/21/2020,6/27/2020,2.0,63.0,220.5,31,393,0.1,0.2,0,5,28577,60827-26,POINT (-87.633087 41.650765)
1057,60827,27,6/28/2020,7/4/2020,0.0,63.0,220.5,30,423,0.0,0.1,0,5,28577,60827-27,POINT (-87.633087 41.650765)

In [7]:
covid_data.reset_index(inplace=True)
covid_data

,ID,ZIP Code,Week Number,Week Start,Week End,Cases - Weekly,Cases - Cumulative,Case Rate - Cumulative,Tests - Weekly,Tests - Cumulative,Percent Tested Positive - Weekly,Percent Tested Positive - Cumulative,Deaths - Weekly,Deaths - Cumulative,Population,Row ID,ZIP Code Location
0,841,60601,10,3/1/2020,3/7/2020,NaN,NaN,NaN,1,1,NaN,NaN,0,0,14675,60601-10,POINT (-87.622844 41.886262)
1,662,60601,11,3/8/2020,3/14/2020,NaN,NaN,NaN,7,8,NaN,NaN,0,0,14675,60601-11,POINT (-87.622844 41.886262)
2,825,60601,12,3/15/2020,3/21/2020,10.0,14.0,95.4,33,41,0.3,0.3,0,0,14675,60601-12,POINT (-87.622844 41.886262)
3,964,60601,13,3/22/2020,3/28/2020,9.0,23.0,156.7,39,80,0.2,0.3,0,0,14675,60601-13,POINT (-87.622844 41.886262)
4,428,60601,14,3/29/2020,4/4/2020,5.0,28.0,190.8,22,102,0.2,0.3,0,0,14675,60601-14,POINT (-87.622844 41.886262)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1057,1038,60827,23,5/31/2020,6/6/2020,2.0,60.0,210.0,18,306,0.1,0.2,0,5,28577,60827-23,POINT (-87.633087 41.650765)
1058,1039,60827,24,6/7/2020,6/13/2020,1.0,61.0,213.5,26,332,0.0,0.2,0,5,28577,60827-24,POINT (-87.633087 41.650765)
1059,1040,60827,25,6/14/2020,6/20/2020,0.0,61.0,213.5,30,362,0.0,0.2,0,5,28577,60827-25,POINT (-87.633087 41.650765)
1060,1043,60827,26,6/21/2020,6/27/2020,2.0,63.0,220.5,31,393,0.1,0.2,0,5,28577,60827-26,POINT (-87.633087 41.650765)
1061,1057,60827,27,6/28/2020,7/4/2020,0.0,63.0,220.5,30,423,0.0,0.1,0,5,28577,60827-27,POINT (-87.633087 41.650765)

In [8]:
covid_data = covid_data.fillna(0)
covid_data

,ID,ZIP Code,Week Number,Week Start,Week End,Cases - Weekly,Cases - Cumulative,Case Rate - Cumulative,Tests - Weekly,Tests - Cumulative,Percent Tested Positive - Weekly,Percent Tested Positive - Cumulative,Deaths - Weekly,Deaths - Cumulative,Population,Row ID,ZIP Code Location
0,841,60601,10,3/1/2020,3/7/2020,0.0,0.0,0.0,1,1,0.0,0.0,0,0,14675,60601-10,POINT (-87.622844 41.886262)
1,662,60601,11,3/8/2020,3/14/2020,0.0,0.0,0.0,7,8,0.0,0.0,0,0,14675,60601-11,POINT (-87.622844 41.886262)
2,825,60601,12,3/15/2020,3/21/2020,10.0,14.0,95.4,33,41,0.3,0.3,0,0,14675,60601-12,POINT (-87.622844 41.886262)
3,964,60601,13,3/22/2020,3/28/2020,9.0,23.0,156.7,39,80,0.2,0.3,0,0,14675,60601-13,POINT (-87.622844 41.886262)
4,428,60601,14,3/29/2020,4/4/2020,5.0,28.0,190.8,22,102,0.2,0.3,0,0,14675,60601-14,POINT (-87.622844 41.886262)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1057,1038,60827,23,5/31/2020,6/6/2020,2.0,60.0,210.0,18,306,0.1,0.2,0,5,28577,60827-23,POINT (-87.633087 41.650765)
1058,1039,60827,24,6/7/2020,6/13/2020,1.0,61.0,213.5,26,332,0.0,0.2,0,5,28577,60827-24,POINT (-87.633087 41.650765)
1059,1040,60827,25,6/14/2020,6/20/2020,0.0,61.0,213.5,30,362,0.0,0.2,0,5,28577,60827-25,POINT (-87.633087 41.650765)
1060,1043,60827,26,6/21/2020,6/27/2020,2.0,63.0,220.5,31,393,0.1,0.2,0,5,28577,60827-26,POINT (-87.633087 41.650765)
1061,1057,60827,27,6/28/2020,7/4/2020,0.0,63.0,220.5,30,423,0.0,0.1,0,5,28577,60827-27,POINT (-87.633087 41.650765)

In [9]:
covid_data["Positive Test Rate"] = (100 * \
    covid_data["Cases - Cumulative"].astype(
        int) / covid_data["Tests - Cumulative"].astype(int)).round(2)
covid_data.head()

,ID,ZIP Code,Week Number,Week Start,Week End,Cases - Weekly,Cases - Cumulative,Case Rate - Cumulative,Tests - Weekly,Tests - Cumulative,Percent Tested Positive - Weekly,Percent Tested Positive - Cumulative,Deaths - Weekly,Deaths - Cumulative,Population,Row ID,ZIP Code Location,Positive Test Rate
0,841,60601,10,3/1/2020,3/7/2020,0.0,0.0,0.0,1,1,0.0,0.0,0,0,14675,60601-10,POINT (-87.622844 41.886262),0.00
1,662,60601,11,3/8/2020,3/14/2020,0.0,0.0,0.0,7,8,0.0,0.0,0,0,14675,60601-11,POINT (-87.622844 41.886262),0.00
2,825,60601,12,3/15/2020,3/21/2020,10.0,14.0,95.4,33,41,0.3,0.3,0,0,14675,60601-12,POINT (-87.622844 41.886262),34.15
3,964,60601,13,3/22/2020,3/28/2020,9.0,23.0,156.7,39,80,0.2,0.3,0,0,14675,60601-13,POINT (-87.622844 41.886262),28.75
4,428,60601,14,3/29/2020,4/4/2020,5.0,28.0,190.8,22,102,0.2,0.3,0,0,14675,60601-14,POINT (-87.622844 41.886262),27.45

In [10]:
covid_data["Death Rate"] = (100 * \
    covid_data["Deaths - Cumulative"].astype(
        int) / covid_data["Cases - Cumulative"].astype(int)).round(2)
covid_data.head()

,ID,ZIP Code,Week Number,Week Start,Week End,Cases - Weekly,Cases - Cumulative,Case Rate - Cumulative,Tests - Weekly,Tests - Cumulative,Percent Tested Positive - Weekly,Percent Tested Positive - Cumulative,Deaths - Weekly,Deaths - Cumulative,Population,Row ID,ZIP Code Location,Positive Test Rate,Death Rate
0,841,60601,10,3/1/2020,3/7/2020,0.0,0.0,0.0,1,1,0.0,0.0,0,0,14675,60601-10,POINT (-87.622844 41.886262),0.00,NaN
1,662,60601,11,3/8/2020,3/14/2020,0.0,0.0,0.0,7,8,0.0,0.0,0,0,14675,60601-11,POINT (-87.622844 41.886262),0.00,NaN
2,825,60601,12,3/15/2020,3/21/2020,10.0,14.0,95.4,33,41,0.3,0.3,0,0,14675,60601-12,POINT (-87.622844 41.886262),34.15,0.0
3,964,60601,13,3/22/2020,3/28/2020,9.0,23.0,156.7,39,80,0.2,0.3,0,0,14675,60601-13,POINT (-87.622844 41.886262),28.75,0.0
4,428,60601,14,3/29/2020,4/4/2020,5.0,28.0,190.8,22,102,0.2,0.3,0,0,14675,60601-14,POINT (-87.622844 41.886262),27.45,0.0

In [31]:
covid_data['Week Start']=covid_data['Week Start'].astype(str)
covid_data

,ZIP Code,Week Number,Week Start,Week End,Cases - Weekly,Cases - Cumulative,Case Rate - Cumulative,Tests - Weekly,Tests - Cumulative,Percent Tested Positive - Weekly,Percent Tested Positive - Cumulative,Deaths - Weekly,Deaths - Cumulative,Population,Row ID,ZIP Code Location,Positive Test Rate,Death Rate
ID,,,,,,,,,,,,,,,,,,
0,60601,10,3/1/2020,3/7/2020,0.0,0.0,0.0,1,1,0.0,0.0,0,0,14675,60601-10,POINT (-87.622844 41.886262),0.00,0.00
1,60601,11,3/8/2020,3/14/2020,0.0,0.0,0.0,7,8,0.0,0.0,0,0,14675,60601-11,POINT (-87.622844 41.886262),0.00,0.00
2,60601,12,3/15/2020,3/21/2020,10.0,14.0,95.4,33,41,0.3,0.3,0,0,14675,60601-12,POINT (-87.622844 41.886262),34.15,0.00
3,60601,13,3/22/2020,3/28/2020,9.0,23.0,156.7,39,80,0.2,0.3,0,0,14675,60601-13,POINT (-87.622844 41.886262),28.75,0.00
4,60601,14,3/29/2020,4/4/2020,5.0,28.0,190.8,22,102,0.2,0.3,0,0,14675,60601-14,POINT (-87.622844 41.886262),27.45,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1057,60827,23,5/31/2020,6/6/2020,2.0,60.0,210.0,18,306,0.1,0.2,0,5,28577,60827-23,POINT (-87.633087 41.650765),19.61,8.33
1058,60827,24,6/7/2020,6/13/2020,1.0,61.0,213.5,26,332,0.0,0.2,0,5,28577,60827-24,POINT (-87.633087 41.650765),18.37,8.20
1059,60827,25,6/14/2020,6/20/2020,0.0,61.0,213.5,30,362,0.0,0.2,0,5,28577,60827-25,POINT (-87.633087 41.650765),16.85,8.20
1060,60827,26,6/21/2020,6/27/2020,2.0,63.0,220.5,31,393,0.1,0.2,0,5,28577,60827-26,POINT (-87.633087 41.650765),16.03,7.94
1061,60827,27,6/28/2020,7/4/2020,0.0,63.0,220.5,30,423,0.0,0.1,0,5,28577,60827-27,POINT (-87.633087 41.650765),14.89,7.94

In [12]:
covid_data = covid_data.fillna(0)
covid_data

,ID,ZIP Code,Week Number,Week Start,Week End,Cases - Weekly,Cases - Cumulative,Case Rate - Cumulative,Tests - Weekly,Tests - Cumulative,Percent Tested Positive - Weekly,Percent Tested Positive - Cumulative,Deaths - Weekly,Deaths - Cumulative,Population,Row ID,ZIP Code Location,Positive Test Rate,Death Rate
0,841,60601,10,3/1/2020,3/7/2020,0.0,0.0,0.0,1,1,0.0,0.0,0,0,14675,60601-10,POINT (-87.622844 41.886262),0.00,0.00
1,662,60601,11,3/8/2020,3/14/2020,0.0,0.0,0.0,7,8,0.0,0.0,0,0,14675,60601-11,POINT (-87.622844 41.886262),0.00,0.00
2,825,60601,12,3/15/2020,3/21/2020,10.0,14.0,95.4,33,41,0.3,0.3,0,0,14675,60601-12,POINT (-87.622844 41.886262),34.15,0.00
3,964,60601,13,3/22/2020,3/28/2020,9.0,23.0,156.7,39,80,0.2,0.3,0,0,14675,60601-13,POINT (-87.622844 41.886262),28.75,0.00
4,428,60601,14,3/29/2020,4/4/2020,5.0,28.0,190.8,22,102,0.2,0.3,0,0,14675,60601-14,POINT (-87.622844 41.886262),27.45,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1057,1038,60827,23,5/31/2020,6/6/2020,2.0,60.0,210.0,18,306,0.1,0.2,0,5,28577,60827-23,POINT (-87.633087 41.650765),19.61,8.33
1058,1039,60827,24,6/7/2020,6/13/2020,1.0,61.0,213.5,26,332,0.0,0.2,0,5,28577,60827-24,POINT (-87.633087 41.650765),18.37,8.20
1059,1040,60827,25,6/14/2020,6/20/2020,0.0,61.0,213.5,30,362,0.0,0.2,0,5,28577,60827-25,POINT (-87.633087 41.650765),16.85,8.20
1060,1043,60827,26,6/21/2020,6/27/2020,2.0,63.0,220.5,31,393,0.1,0.2,0,5,28577,60827-26,POINT (-87.633087 41.650765),16.03,7.94
1061,1057,60827,27,6/28/2020,7/4/2020,0.0,63.0,220.5,30,423,0.0,0.1,0,5,28577,60827-27,POINT (-87.633087 41.650765),14.89,7.94

In [13]:
covid_data=covid_data.drop("ID", axis=1)
covid_data

,ZIP Code,Week Number,Week Start,Week End,Cases - Weekly,Cases - Cumulative,Case Rate - Cumulative,Tests - Weekly,Tests - Cumulative,Percent Tested Positive - Weekly,Percent Tested Positive - Cumulative,Deaths - Weekly,Deaths - Cumulative,Population,Row ID,ZIP Code Location,Positive Test Rate,Death Rate
0,60601,10,3/1/2020,3/7/2020,0.0,0.0,0.0,1,1,0.0,0.0,0,0,14675,60601-10,POINT (-87.622844 41.886262),0.00,0.00
1,60601,11,3/8/2020,3/14/2020,0.0,0.0,0.0,7,8,0.0,0.0,0,0,14675,60601-11,POINT (-87.622844 41.886262),0.00,0.00
2,60601,12,3/15/2020,3/21/2020,10.0,14.0,95.4,33,41,0.3,0.3,0,0,14675,60601-12,POINT (-87.622844 41.886262),34.15,0.00
3,60601,13,3/22/2020,3/28/2020,9.0,23.0,156.7,39,80,0.2,0.3,0,0,14675,60601-13,POINT (-87.622844 41.886262),28.75,0.00
4,60601,14,3/29/2020,4/4/2020,5.0,28.0,190.8,22,102,0.2,0.3,0,0,14675,60601-14,POINT (-87.622844 41.886262),27.45,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1057,60827,23,5/31/2020,6/6/2020,2.0,60.0,210.0,18,306,0.1,0.2,0,5,28577,60827-23,POINT (-87.633087 41.650765),19.61,8.33
1058,60827,24,6/7/2020,6/13/2020,1.0,61.0,213.5,26,332,0.0,0.2,0,5,28577,60827-24,POINT (-87.633087 41.650765),18.37,8.20
1059,60827,25,6/14/2020,6/20/2020,0.0,61.0,213.5,30,362,0.0,0.2,0,5,28577,60827-25,POINT (-87.633087 41.650765),16.85,8.20
1060,60827,26,6/21/2020,6/27/2020,2.0,63.0,220.5,31,393,0.1,0.2,0,5,28577,60827-26,POINT (-87.633087 41.650765),16.03,7.94
1061,60827,27,6/28/2020,7/4/2020,0.0,63.0,220.5,30,423,0.0,0.1,0,5,28577,60827-27,POINT (-87.633087 41.650765),14.89,7.94

In [14]:
covid_data.index.name ='ID'
covid_data

,ZIP Code,Week Number,Week Start,Week End,Cases - Weekly,Cases - Cumulative,Case Rate - Cumulative,Tests - Weekly,Tests - Cumulative,Percent Tested Positive - Weekly,Percent Tested Positive - Cumulative,Deaths - Weekly,Deaths - Cumulative,Population,Row ID,ZIP Code Location,Positive Test Rate,Death Rate
ID,,,,,,,,,,,,,,,,,,
0,60601,10,3/1/2020,3/7/2020,0.0,0.0,0.0,1,1,0.0,0.0,0,0,14675,60601-10,POINT (-87.622844 41.886262),0.00,0.00
1,60601,11,3/8/2020,3/14/2020,0.0,0.0,0.0,7,8,0.0,0.0,0,0,14675,60601-11,POINT (-87.622844 41.886262),0.00,0.00
2,60601,12,3/15/2020,3/21/2020,10.0,14.0,95.4,33,41,0.3,0.3,0,0,14675,60601-12,POINT (-87.622844 41.886262),34.15,0.00
3,60601,13,3/22/2020,3/28/2020,9.0,23.0,156.7,39,80,0.2,0.3,0,0,14675,60601-13,POINT (-87.622844 41.886262),28.75,0.00
4,60601,14,3/29/2020,4/4/2020,5.0,28.0,190.8,22,102,0.2,0.3,0,0,14675,60601-14,POINT (-87.622844 41.886262),27.45,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1057,60827,23,5/31/2020,6/6/2020,2.0,60.0,210.0,18,306,0.1,0.2,0,5,28577,60827-23,POINT (-87.633087 41.650765),19.61,8.33
1058,60827,24,6/7/2020,6/13/2020,1.0,61.0,213.5,26,332,0.0,0.2,0,5,28577,60827-24,POINT (-87.633087 41.650765),18.37,8.20
1059,60827,25,6/14/2020,6/20/2020,0.0,61.0,213.5,30,362,0.0,0.2,0,5,28577,60827-25,POINT (-87.633087 41.650765),16.85,8.20
1060,60827,26,6/21/2020,6/27/2020,2.0,63.0,220.5,31,393,0.1,0.2,0,5,28577,60827-26,POINT (-87.633087 41.650765),16.03,7.94
1061,60827,27,6/28/2020,7/4/2020,0.0,63.0,220.5,30,423,0.0,0.1,0,5,28577,60827-27,POINT (-87.633087 41.650765),14.89,7.94

In [15]:
# File Path
#census_data_file = "census_data.csv"

# Read CSV
#census_data = pd.read_csv(census_data_file)

# Show Data
#census_data.head()

In [16]:
# Load poverty and race info from census API
census_race_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E","B01003_001E", "B02001_002E", "B02001_003E", "B02001_004E", "B02001_005E", "B02001_006E", "B02001_007E", "B02001_008E"), {'for': 'zip code tabulation area:*'})
census_data = pd.DataFrame(census_race_data)
census_data.head()

,NAME,B19013_001E,B01003_001E,B01002_001E,B19301_001E,B17001_002E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E,zip code tabulation area
0,ZCTA5 08518,74286.0,5217.0,41.5,33963.0,170.0,3774.0,755.0,0.0,439.0,0.0,148.0,101.0,08518
1,ZCTA5 08520,90293.0,27468.0,37.4,37175.0,1834.0,18000.0,1428.0,79.0,4117.0,17.0,2993.0,834.0,08520
2,ZCTA5 08525,118656.0,4782.0,47.1,59848.0,43.0,4481.0,142.0,0.0,108.0,0.0,1.0,50.0,08525
3,ZCTA5 08527,88588.0,54867.0,42.2,37021.0,2191.0,48726.0,2807.0,23.0,1569.0,41.0,505.0,1196.0,08527
4,ZCTA5 08528,58676.0,245.0,48.5,49117.0,0.0,245.0,0.0,0.0,0.0,0.0,0.0,0.0,08528

In [17]:
# Rename the columns
census_data = census_data.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B02001_002E": "White",
                                      "B02001_003E": "Black or African American",
                                      "B02001_004E": "American Indian and Alaska Native",
                                      "B02001_005E": "Asian",
                                      "B02001_006E": "Hawaiian and Other Pacific Islander",
                                      "B02001_007E": "Other",
                                      "B02001_008E": "Two or More Mixed",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})
census_data.head()

,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,White,Black or African American,American Indian and Alaska Native,Asian,Hawaiian and Other Pacific Islander,Other,Two or More Mixed,Zipcode
0,ZCTA5 08518,74286.0,5217.0,41.5,33963.0,170.0,3774.0,755.0,0.0,439.0,0.0,148.0,101.0,08518
1,ZCTA5 08520,90293.0,27468.0,37.4,37175.0,1834.0,18000.0,1428.0,79.0,4117.0,17.0,2993.0,834.0,08520
2,ZCTA5 08525,118656.0,4782.0,47.1,59848.0,43.0,4481.0,142.0,0.0,108.0,0.0,1.0,50.0,08525
3,ZCTA5 08527,88588.0,54867.0,42.2,37021.0,2191.0,48726.0,2807.0,23.0,1569.0,41.0,505.0,1196.0,08527
4,ZCTA5 08528,58676.0,245.0,48.5,49117.0,0.0,245.0,0.0,0.0,0.0,0.0,0.0,0.0,08528

In [18]:
census_data = census_data.rename(columns={"Zipcode": "ZIP Code"})
census_data

,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,White,Black or African American,American Indian and Alaska Native,Asian,Hawaiian and Other Pacific Islander,Other,Two or More Mixed,ZIP Code
0,ZCTA5 08518,74286.0,5217.0,41.5,33963.0,170.0,3774.0,755.0,0.0,439.0,0.0,148.0,101.0,08518
1,ZCTA5 08520,90293.0,27468.0,37.4,37175.0,1834.0,18000.0,1428.0,79.0,4117.0,17.0,2993.0,834.0,08520
2,ZCTA5 08525,118656.0,4782.0,47.1,59848.0,43.0,4481.0,142.0,0.0,108.0,0.0,1.0,50.0,08525
3,ZCTA5 08527,88588.0,54867.0,42.2,37021.0,2191.0,48726.0,2807.0,23.0,1569.0,41.0,505.0,1196.0,08527
4,ZCTA5 08528,58676.0,245.0,48.5,49117.0,0.0,245.0,0.0,0.0,0.0,0.0,0.0,0.0,08528
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,ZCTA5 99923,21944.0,81.0,64.3,17225.0,4.0,81.0,0.0,0.0,0.0,0.0,0.0,0.0,99923
33116,ZCTA5 99925,38125.0,668.0,46.4,25094.0,124.0,344.0,3.0,239.0,4.0,0.0,0.0,78.0,99925
33117,ZCTA5 99926,50052.0,1630.0,31.4,22850.0,202.0,100.0,6.0,1362.0,2.0,3.0,0.0,157.0,99926
33118,ZCTA5 99927,19000.0,111.0,59.4,21157.0,39.0,91.0,0.0,9.0,0.0,0.0,11.0,0.0,99927
33119,ZCTA5 99929,45649.0,2341.0,53.1,28399.0,215.0,1574.0,3.0,535.0,35.0,0.0,2.0,192.0,99929

In [19]:

# Add in Poverty Rate (Poverty Count / Population)
census_data["Poverty Rate"] = 100 * \
    census_data["Poverty Count"].astype(
        int) / census_data["Population"].astype(int)
census_data

,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,White,Black or African American,American Indian and Alaska Native,Asian,Hawaiian and Other Pacific Islander,Other,Two or More Mixed,ZIP Code,Poverty Rate
0,ZCTA5 08518,74286.0,5217.0,41.5,33963.0,170.0,3774.0,755.0,0.0,439.0,0.0,148.0,101.0,08518,3.258578
1,ZCTA5 08520,90293.0,27468.0,37.4,37175.0,1834.0,18000.0,1428.0,79.0,4117.0,17.0,2993.0,834.0,08520,6.676860
2,ZCTA5 08525,118656.0,4782.0,47.1,59848.0,43.0,4481.0,142.0,0.0,108.0,0.0,1.0,50.0,08525,0.899205
3,ZCTA5 08527,88588.0,54867.0,42.2,37021.0,2191.0,48726.0,2807.0,23.0,1569.0,41.0,505.0,1196.0,08527,3.993293
4,ZCTA5 08528,58676.0,245.0,48.5,49117.0,0.0,245.0,0.0,0.0,0.0,0.0,0.0,0.0,08528,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,ZCTA5 99923,21944.0,81.0,64.3,17225.0,4.0,81.0,0.0,0.0,0.0,0.0,0.0,0.0,99923,4.938272
33116,ZCTA5 99925,38125.0,668.0,46.4,25094.0,124.0,344.0,3.0,239.0,4.0,0.0,0.0,78.0,99925,18.562874
33117,ZCTA5 99926,50052.0,1630.0,31.4,22850.0,202.0,100.0,6.0,1362.0,2.0,3.0,0.0,157.0,99926,12.392638
33118,ZCTA5 99927,19000.0,111.0,59.4,21157.0,39.0,91.0,0.0,9.0,0.0,0.0,11.0,0.0,99927,35.135135
33119,ZCTA5 99929,45649.0,2341.0,53.1,28399.0,215.0,1574.0,3.0,535.0,35.0,0.0,2.0,192.0,99929,9.184109

In [20]:
# Final DataFrame
census_data = census_data[["ZIP Code", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate", "White", "Black or African American","Asian", "American Indian and Alaska Native", "Hawaiian and Other Pacific Islander","Two or More Mixed", "Other"]]
census_data.head()

,ZIP Code,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,White,Black or African American,Asian,American Indian and Alaska Native,Hawaiian and Other Pacific Islander,Two or More Mixed,Other
0,08518,5217.0,41.5,74286.0,33963.0,170.0,3.258578,3774.0,755.0,439.0,0.0,0.0,101.0,148.0
1,08520,27468.0,37.4,90293.0,37175.0,1834.0,6.676860,18000.0,1428.0,4117.0,79.0,17.0,834.0,2993.0
2,08525,4782.0,47.1,118656.0,59848.0,43.0,0.899205,4481.0,142.0,108.0,0.0,0.0,50.0,1.0
3,08527,54867.0,42.2,88588.0,37021.0,2191.0,3.993293,48726.0,2807.0,1569.0,23.0,41.0,1196.0,505.0
4,08528,245.0,48.5,58676.0,49117.0,0.0,0.000000,245.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
census_data['ZIP Code']=census_data['ZIP Code'].astype(int)

C:\Users\aguha\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [22]:
zipcodes_list=covid_data['ZIP Code']
zipcodes_list=pd.DataFrame(zipcodes_list)
zipcodes_list

      ZIP Code
ID
0        60601
1        60601
2        60601
3        60601
4        60601
...        ...
1057     60827
1058     60827
1059     60827
1060     60827
1061     60827

[1062 rows x 1 columns]

In [23]:
zipcodes_list['ZIP Code']=pd.to_numeric(zipcodes_list['ZIP Code'], errors='coerce')

In [24]:
# Merge zipcode and census data
census_zipcode_merge_df = census_data.merge(zipcodes_list, how='inner', left_on=["ZIP Code"], right_on=["ZIP Code"] )
census_zipcode_merge_df

,ZIP Code,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,White,Black or African American,Asian,American Indian and Alaska Native,Hawaiian and Other Pacific Islander,Two or More Mixed,Other
0,60601,9732.0,36.6,95556.0,89136.0,1079.0,11.087135,6491.0,1070.0,1778.0,13.0,0.0,218.0,162.0
1,60601,9732.0,36.6,95556.0,89136.0,1079.0,11.087135,6491.0,1070.0,1778.0,13.0,0.0,218.0,162.0
2,60601,9732.0,36.6,95556.0,89136.0,1079.0,11.087135,6491.0,1070.0,1778.0,13.0,0.0,218.0,162.0
3,60601,9732.0,36.6,95556.0,89136.0,1079.0,11.087135,6491.0,1070.0,1778.0,13.0,0.0,218.0,162.0
4,60601,9732.0,36.6,95556.0,89136.0,1079.0,11.087135,6491.0,1070.0,1778.0,13.0,0.0,218.0,162.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,60827,28547.0,31.0,33108.0,16567.0,8775.0,30.738782,1650.0,26293.0,0.0,16.0,0.0,378.0,210.0
1040,60827,28547.0,31.0,33108.0,16567.0,8775.0,30.738782,1650.0,26293.0,0.0,16.0,0.0,378.0,210.0
1041,60827,28547.0,31.0,33108.0,16567.0,8775.0,30.738782,1650.0,26293.0,0.0,16.0,0.0,378.0,210.0
1042,60827,28547.0,31.0,33108.0,16567.0,8775.0,30.738782,1650.0,26293.0,0.0,16.0,0.0,378.0,210.0
1043,60827,28547.0,31.0,33108.0,16567.0,8775.0,30.738782,1650.0,26293.0,0.0,16.0,0.0,378.0,210.0

In [25]:
census_zipcode_merge_df.index.name ='ID'
census_zipcode_merge_df

,ZIP Code,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,White,Black or African American,Asian,American Indian and Alaska Native,Hawaiian and Other Pacific Islander,Two or More Mixed,Other
ID,,,,,,,,,,,,,,
0,60601,9732.0,36.6,95556.0,89136.0,1079.0,11.087135,6491.0,1070.0,1778.0,13.0,0.0,218.0,162.0
1,60601,9732.0,36.6,95556.0,89136.0,1079.0,11.087135,6491.0,1070.0,1778.0,13.0,0.0,218.0,162.0
2,60601,9732.0,36.6,95556.0,89136.0,1079.0,11.087135,6491.0,1070.0,1778.0,13.0,0.0,218.0,162.0
3,60601,9732.0,36.6,95556.0,89136.0,1079.0,11.087135,6491.0,1070.0,1778.0,13.0,0.0,218.0,162.0
4,60601,9732.0,36.6,95556.0,89136.0,1079.0,11.087135,6491.0,1070.0,1778.0,13.0,0.0,218.0,162.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,60827,28547.0,31.0,33108.0,16567.0,8775.0,30.738782,1650.0,26293.0,0.0,16.0,0.0,378.0,210.0
1040,60827,28547.0,31.0,33108.0,16567.0,8775.0,30.738782,1650.0,26293.0,0.0,16.0,0.0,378.0,210.0
1041,60827,28547.0,31.0,33108.0,16567.0,8775.0,30.738782,1650.0,26293.0,0.0,16.0,0.0,378.0,210.0
1042,60827,28547.0,31.0,33108.0,16567.0,8775.0,30.738782,1650.0,26293.0,0.0,16.0,0.0,378.0,210.0
1043,60827,28547.0,31.0,33108.0,16567.0,8775.0,30.738782,1650.0,26293.0,0.0,16.0,0.0,378.0,210.0

In [32]:
# Set Connection String
connection_string = "postgres:postgres@localhost:5432/covid_db"

# Set Engine
engine = create_engine(f'postgresql://{connection_string}')

In [33]:
# Confirm Tables
engine.table_names()

['covid', 'census']

In [34]:
# Fill Covid Table
covid_data.to_sql(name='covid', con=engine, if_exists='append', index=True)

In [35]:
# Fill Census
census_zipcode_merge_df.to_sql(name='census', con=engine, if_exists='append', index=True)